.contenedor-sass {
    width: 100px;
    height: 100px;
    border: $bordes-cajas;
    background-color: $background-cajas;
    .contenedor-sass p {
        font-size: 10px;

        color: brown;
    }
    .contenedor-sass img {
        width: 20x;
        height: 20px;
    }
}