//VARIABLE PARA MIS CAJAS
$bordes-cajas: 2px solid red;
$background-cajas: yellow;


//IMPORTS
//IMPORT RESETEO DE CSS
@import "reseteo-css";
//IMPORT ESTILO CAJAS
@import "contenedores";
//IMPORT PIÉ DE PÁGINA
@import "footer";
//IMPORT PIÉ DE PÁGINA
@import "secciones-index";
//IMPORT HEADER INDEX
@import "header";



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*PAGINA PRINCIPAL/////////////////////////////////////////////////////////////////*/
/*CARRUSEL DE INICIO*/

.carousel {
    height: 90vh;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*EDICIÓN DEL MAIN*/
main {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*PÁGINA IMÁGENES: GRILLAS*/
.contenedor-grilla .border {
    border: 2px solid red;
}
.contenedor-grilla {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px repeat(3, 1fr) 200px;
    grid-template-rows: 100px repeat(3, 1fr) 100px;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas: 
    "contenedor-grilla-h1 contenedor-grilla-h1 contenedor-grilla-h1 contenedor-grilla-h1 contenedor-lateral-derecho"
    "contenedor-lateral IMG-1 IMG-2 IMG-3 contenedor-lateral-derecho"
    "contenedor-lateral IMG-4 IMG-5 IMG-6 contenedor-lateral-derecho"
    "contenedor-lateral IMG-7 IMG-8 IMG-9 contenedor-lateral-derecho"
    "contenedor-inferior contenedor-inferior contenedor-inferior contenedor-inferior contenedor-lateral-derecho"
    ;

}
.contenedor-lateral-derecho {
    grid-area: contenedor-lateral-derecho;
}
.contenedor-grilla-h1 {
    grid-area: contenedor-grilla-h1;
    text-align: center;
}

.contenedor-lateral {
    grid-area: contenedor-lateral;
}
.IMG-1 {
    grid-area: IMG-1;
}
.IMG-2 {
    grid-area: IMG-2;
}
.IMG-3 {
    grid-area: IMG-3;
}
.IMG-4 {
    grid-area: IMG-4;
}
.IMG-5 {
    grid-area: IMG-5;
}
.IMG-6 {
    grid-area: IMG-6;
}
.IMG-7 {
    grid-area: IMG-7;
}
.IMG-8 {
    grid-area: IMG-8;
}
.IMG-9 {
    grid-area: IMG-9;
}

.contenedor-inferior {
    grid-area: contenedor-inferior;
}

.contenedor-grilla img {
    width: 150px;
    height: 150px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*EDICIÓN: CONTACTO*/

.formulario-fito {
    width: 800px;
    margin: 20 auto;
    display: flex; /*PROPIEDAD FLEX*/
    flex-direction: column;
    justify-content: center; /*JUSTIFICA TOP Y BOTTOM*/
    align-items: center; /*JUSTIFICA LEFT Y RIGHT*/
}

.formulario-fito .contenido-form {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
}

.formulario-fito .contenido-form .form-asunto {
    text-align: center;
}

.formulario-fito .contenido-form .form-asunto ul li input , textarea{
    width: 300px;
}
