//VARIABLE PARA MIS CAJAS
$bordes-cajas: 2px solid red;
$background-cajas: yellow;



//IMPORT RESETEO DE CSS
@import "main-index/reseteo-css";
//IMPORT HEADER
@import "main-index/header";
//IMPORT FOOTER
@import "main-index/footer";


//////////////////////////////INDEX/////////////////////////////////////////////////
//IMPORT ESTILO SECCIONES
@import "main-index/secciones-index";
//////////////////////////////CONTACTO/////////////////////////////////////////////////
@import "CONTACTO/index-contacto";
//////////////////////////////IMÁGENES/////////////////////////////////////////////////
@import "IMÁGENES/index-imagenes";
//////////////////////////////BIOGRAFÍA/////////////////////////////////////////////////
@import "BIOGRAFÍA/index-biografía";
//////////////////////////////BOTÓN FLOTANTE/////////////////////////////////////////////////
@import "main-index/btn-flotante";

.carousel {
    height: 90vh;
}
 
 
 


