///////////////////////////////BOTON FLOTANTE/////////////////////
#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 5px;
  z-index: 22222;
  .nds{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    cursor: pointer;
    
  }
  .nds a img {
    width: 25px;
    height: 25px; 
  }
  .nd1{
    background: #d3a411;
    right: 15px;
    bottom: 120px;
    animation-delay: 0.2s;
      animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
  }
  .nd3{
    background: #3c80f6;
    right: 15px;
    bottom: 180px;
    animation-delay: 0.15s;
      animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
  }
  .nd4{
    background: #ba68c8;
    right: 15px;
    bottom: 240px;
    animation-delay: 0.1s;
      animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
}


#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  .plus{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
  }
  .edit{
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 65px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
  }
}
  
  
//HOVER EFFECTS 
#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}
#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}
#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
//HOVER EFFECTS NDS
#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}
#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
  
//KEYFRAMES 
@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}
  
//KEYFRAMES NDS
@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

//ESTILO PARA LAS IMG
.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}
// CLASE AGREGADA AL POSICIONARSE
.mostrar {
  transition: 400ms;
  visibility: visible!important;
  opacity: 1!important;
}